/*-----RESET-----*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

html {
    font-size: 62.5%;
}

body{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style:none;
}

/*-----CONTENT-----*/
.wrapper{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.signup{
    width: 100%;
    max-width: 50rem;
}

.logo{
    text-align: center;
}

.logo__link{
    display: inline-block;
    background: url('/assets/imgs/logo.png');
    height: 8.7rem;
    width: 8.7rem;;
    
}

.signup__title{
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 3rem;
    color: #222C59;

    margin-top: 2.5rem;
}

/*----- class=form*/
.form{
    margin-top: 1.5rem;
}

.form__group{
    margin-bottom: 2rem;
    
    position: relative;
}

.form__groups--center{
    text-align: center;
}

.form__label.hide{
    position: absolute;
    left: 0;
    top: 1rem;
}

.form__input-text{
    width: 100%;
    height: 6rem;
    background-color: #F5F6F8;

    border: .2rem solid border #EDEDF1;
    border-radius: .8rem;
    outline: none; /*uma borda dentro que o proprio navegador dentro */
    
    position: relative;

    padding-left: 4.5rem;
    font-size: 1.5rem;

}

.form__input-text::placeholder{
    font-weight: bold;
    color: #c1c6d0;
}

.form__input-text.error{
    border-color: #D95150;
}

.form__message-error{
    color: #D95150;
    font-size: 1.2rem;
    font-weight: bold;
    display: block;
    margin-top: .5rem;
}

/*-----ICON ----*/
.form__input-icon {
    position: absolute;
    left: 1.5rem;
    top: 2.2rem;
    color: #8A93A5;
    font-size: 1.5rem;
}

/*----------*/
.form__input-checkbox{
    margin-right: 1.5rem;
}

.form__label{
    font-size: 1.5rem;
    color: #454653;
}

.form__link{
    color: #00A9C8;
}

.form_button-submit{
    background-color: red;
}

.requiremets{
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 1rem;
}

.requiremets__progress-bar{
    height: .5rem;
    background-color: #F3E24A;
    width: 100%;

    border-radius: .5rem;
    margin-bottom: 1.5rem;
}

.requiremets__description,
.requiremts__item{
    color: #9EA4AC;
    font-size: 1.4rem;
    margin-top: .5rem;
}

.requiremts__item .fas::before{
    content: "\f057";
}

.requiremts__item.checked{
    color: #81BC3A;
    font-weight: bold;
}

.requiremts__item.checked .fas::before{
    content: "\f058";
}


/*-------*/

.form__button-submit{
    background-color: #00A9C8;
    height: 5rem;
    width: 15rem;
    border-radius: 2.5rem;

    color: #fff;
    font-weight: bold;
    font-size: 1.8rem;

    cursor: pointer;
    margin-top: 2rem;
}